<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001017838488-q89f7tkgtcn00hjib1toumj6o89t7mu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001017838488-q89f7tkgtcn00hjib1toumj6o89t7mu4</string>
	<key>API_KEY</key>
	<string>AIzaSyAOxd-guetJsBZ4Dxvot9XFjdtmrfvBuZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1001017838488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>doafeliz</string>
	<key>STORAGE_BUCKET</key>
	<string>doafeliz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001017838488:ios:ae0f8709b0230dda44b9ed</string>
</dict>
</plist>