<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369011067034-fff28hlemhiu1mstl4c7enjpi55nr4h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369011067034-fff28hlemhiu1mstl4c7enjpi55nr4h4</string>
	<key>API_KEY</key>
	<string>AIzaSyDiX0DP34IBYaNrpCTgVrlooQie_2EQGIY</string>
	<key>GCM_SENDER_ID</key>
	<string>369011067034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.JulioJacquelineMaxNeulerWanderson</string>
	<key>PROJECT_ID</key>
	<string>doafelizfiap</string>
	<key>STORAGE_BUCKET</key>
	<string>doafelizfiap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369011067034:ios:dcb2634f303b6a22fab723</string>
</dict>
</plist>